/*Esto es un comentario en CSS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 { 
    font-family: 'Roboto', sans-serif;
}

*{
    font-family: 'Nunito', sans-serif;
}


li {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}


/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
}  

.bg-navbar {
    background-color: #e5e8eb
}

.nav-item {
    padding-left: minimum;
}

.nav-link {
    color: #134a45;
}

.nav-link:hover {
    color: #134a45;
    font-weight: 800;
}


/*Banner*/

.banner {
    position: relative;
    text-align: center;
}
  
.banner img {
    width: 100%;
    filter: brightness(0.4);
}
  
.banner-title {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 0;
    right: 0;
    color: white !important;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

.banner-text {
    position: absolute;
    text-align: center;
    top: 410px;
    left: 0;
    right: 0;
    color: white !important;;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
}
  

/*Sobre Mí*/
.sobremi {
    background-color:#f3f4f6 ;
}

/*Educación*/
.text-muted {
    color: #6c757d;
}

.educacion-año {
    text-align: center;
    padding-bottom: 10px;
}

.educacion-boxes {
    border: 2px solid #e8e8e8;
    height: 330px;
    width: 305px;
}

.educacion-boxes-icon {
    height: 200px;
    width: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded {
    border-radius: 1px;
}

.text-center {
    text-align: center!important;
}

.p-4 {
    padding: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

/*Experiencia*/
.experiencia {
    background-color:#f3f4f6 ;
}


/*Skills*/
.progress {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    height: 23px;
    margin-left: 20px;
    margin-right: 40px;
}

.progress:hover {
transform: scale(1.03);
}

.progress-bar {
    background-color: #6c757d;
}

.progress-bar:hover {
    background-color: #134a45;
}


/*Proyectos*/
.proyectos {
    background-color:#f3f4f6 ;
}

.justify-content-center li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
  }

.img-fluid {
    width: 100%;
    height: 260px;
    box-shadow: 3px 3px 3px #b1b0b0;
      
}

.info-box {
    text-align: center;
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
}

.img-fluid:hover {
    cursor: pointer;
    transform: scale(1.03);
    height: 260px;
    object-fit: cover;
    filter: brightness(0.5);
}


/*Contacto*/
.list-inline-item {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-inline-item:hover {
    transform: scale(1.05);
}

button {
    border-radius: 20px;
    border: 2px solid #e8e8e8;
    padding: 10px 25px;
}

button:hover{
    background-color: #134a45;
    color: #e8e8e8;
}  

.info-description {
    padding-top: 20px;    
}

.phone:hover{
    transform: scale(1.1);
    cursor: pointer;
} 

.envelope:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/*Footer*/
.footer {
    background-color: #134a45;
}
   
.footer-title {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 40px;
    padding-top: 20px;
}

.footer-description {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}